section{
    position: relative;
    height: max-content;
    background-color: #917a7a;
}

section>div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 98.1vw;
    margin-bottom: 4vh;

}

section img{
    width: 400px;
    height: 250px;
    border-radius: 8px;

}

section img:hover{
    cursor: pointer;
    box-shadow: 8px 7px 8px lightgray;
}

section>div:last-child{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 66.1vw;
    margin-bottom: unset;
}

footer{
    height: 4vh;
    background-color: black;
}



footer p{
    color: white;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 36vw;
    font-size: 1.5vw;
    top: 0.5vh;
}

#as1[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as2[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as3[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as4[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as5[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as6[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as7[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as8[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as9[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#as10[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}
#webLayout[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}

