/*header*/
header{
    background-color: grey;
    position: fixed;
    height: 8.5vh;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid white;
}

header>nav>ul{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding-top: 2vh;
    font-family: revert;
    font-size: 1.3rem;
    margin: 0;
    padding-left: 300px;
}

header>nav>ul>li{
    flex-grow:1;

}

header a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
    background: black;
}

a:active {
    text-decoration: underline;
}

/*section 1*/

main>section:nth-child(1){
    background-color: black;
    position: relative;
    height: 100vh;
}

main>section:nth-child(1)>div{
    margin-left: 10vw;
    position: relative;
    top: 14vh;
    display: inline-block;
}

main>section:nth-child(1)>div>pre{
    margin: auto;
    color: white;
    font-family: cursive;
    font-size: 4vh;
    position: relative;
}


main>section:nth-child(1)>section:nth-child(2){
    position: absolute;
    height: 90vh;
    width: 50%;
    bottom: 0;
    right: 0;
}


main>section:nth-child(1)>section:nth-child(2)>img{
    position: absolute;
    margin: auto;
    display: inline-block;
    left: 0;
    height: 100%;

}

main>section:nth-child(1)>a{
    position: absolute;
    margin: auto;
    bottom: 2vh;
}

main>section:nth-child(1)>section:nth-child(3){
    position: absolute;
    margin: auto;
    display: inline-block;
    bottom: 5vh;
    left: 7vw;
    width: 47vw;
}

main>section:nth-child(1)>section:nth-child(3)>a{
    padding-left: 5%;
}

#hire{
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30%;
    border: 7px solid cadetblue;
    position: relative;
    left: 7vw;
    font-size: xx-large;
    margin-top: 3vh;
}

#hire:hover{
    border-color: chartreuse;
}

#pre01{
    margin-left: 7%;
}

#pre02{
    margin-left: 11vw;
    margin-top: -1vh;
}

#pre03{
    font-size: 2.3em;
    margin-top: 4vh;
    color: orange;
}

#pre04{
    margin-top: 3vh;
    margin-left: 4vw;
}

#pre05{
    margin-top: 3vh;
    margin-left: 9vw;
}

#pre06{
    margin-top: 2vh;
    margin-left: 6vw;
}

.Developer{
    color: red;
    font-size: 2em;
}

.fa-mobile-alt{
    position: absolute;
    margin-top: -15%;
    margin-left: 8%;
}

/*section 2*/

main>section:nth-child(2){
    background-color: grey;
    position: relative;
    height: 100vh;
}

main>section:nth-child(2)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: white;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(2)>img{
    position: absolute;
    left: 5vw;
    top:15vh;

}

main>section:nth-child(2)>p{
    position: absolute;
    font-size: 2.1em;
    font-family: 'Merriweather', serif;
    right: 10vw;
    bottom: 30vh;
    display: inline-block;
    margin-left: 43vw;
    color: #eeeeee;
}

main>section:nth-child(2)>a{
    position: absolute;
    right: 43vw;
    bottom: 23vh;
    border: 6px solid cornflowerblue;
}

main>section:nth-child(2)>a>button{
    font-size: 1.5em;
    color:red;
    background-color: black;
}

main>section:nth-child(2)>a>button:hover{
    cursor: pointer;
    color: yellowgreen;
}
/*section 3*/

main>section:nth-child(3){
    background-color: lightgray;
    position: relative;
    height: 75vh;
}

main>section:nth-child(3)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: black;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(3)>div>h3{
    margin:0; padding:0; box-sizing:border-box;
}

main>section:nth-child(3)>div>h3>pre {
background-color: black;
}
main>section:nth-child(3)>div{
    top: 31vh;
    font-size: 1.57em;
    height: 50px;
    width: 250px;
    margin: auto;
}

.divservice1{
    left: 8vw;
    position: absolute;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.divservice2{
    right: 0;
    left: 0;
    position: absolute;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.divservice3{
    right: 8.5vw;
    position: absolute;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

/*4th section*/

main>section:nth-child(4){
    background-color: grey;
    position: relative;
    height: 100vh;
}

main>section:nth-child(4)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: white;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(4) h2{
    color: gainsboro;
    margin: auto;
    left: 7vw;
    width: max-content;
    height: max-content;
    display: inline-block;
    position: absolute;
    top: 9vh;

}

main>section:nth-child(4)>section section{
    top: 5vh;
    height: 23vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 12vh;
    border-radius: 25%;
    background-color: lightgray;
}

main>section:nth-child(4)>section{
    position: relative;
    width: 100%;
    height: 40vh;

}


.p1{
    padding-left: 33px;
}

.p2{
    padding-left: 16px;
}
.p3{
    padding-left: 59px;
}
.p4{
    padding-left: 33px;
}

.java-logo{
    width: 100px;
}

.html-logo{
    width: 82px;
}

.css-logo{
    width: 153px;
}

.mysql-logo{
    width: 115px;
}

.a1{
    position: relative;
    top: 25vh;
    left: 16vw;
    margin: auto;
}

.a2{
    position: relative;
    top: -15vh;
    right: -81vw;
    margin: auto;
}



