/*header*/
header{
    background-color: grey;
    position: fixed;
    height: 8.5vh;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid white;
}

header>nav>ul{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding-top: 2vh;
    font-family: revert;
    font-size: 1.3rem;
    margin: 0;
    padding-left: 300px;
}

header>nav>ul>li{
    flex-grow:1;

}

header a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
    background: #4a3a3a;
    border-radius: 8px;
}

a:active {
    text-decoration: underline;
}

/*section 1*/

main>section:nth-child(1){
    background-color: black;
    position: relative;
    height: 100vh;
}

main>section:nth-child(1)>div{
    margin-left: 10vw;
    position: relative;
    top: 14vh;
    display: inline-block;
}

main>section:nth-child(1)>div>pre{
    margin: auto;
    color: white;
    font-family: cursive;
    font-size: 4vh;
    position: relative;
}


main>section:nth-child(1)>section:nth-child(2){
    position: absolute;
    height: 90vh;
    width: 50%;
    bottom: 0;
    right: 0;
}


main>section:nth-child(1)>section:nth-child(2)>img{
    position: absolute;
    margin: auto;
    display: inline-block;
    left: 0;
    height: 100%;

}

main>section:nth-child(1)>a{
    position: absolute;
    margin: auto;
    bottom: 2vh;
}

main>section:nth-child(1)>section:nth-child(3){
    position: absolute;
    margin: auto;
    display: inline-block;
    bottom: 5vh;
    left: 7vw;
    width: 47vw;
}

main>section:nth-child(1)>section:nth-child(3)>a{
    padding-left: 5%;
}

#hire{
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30%;
    border: 7px solid cadetblue;
    position: relative;
    left: 7vw;
    font-size: xx-large;
    margin-top: 3vh;
    animation: hire-me 3s infinite;
}

#hire:hover{
    border-color: chartreuse;
}

#pre01{
    margin-left: 7%;
}

#pre02{
    margin-left: 11vw;
    margin-top: -1vh;
}

#pre03{
    font-size: 2.3em;
    margin-top: 4vh;
    color: orange;
}

#pre04{
    margin-top: 3vh;
    margin-left: 4vw;
}

#pre05{
    margin-top: 3vh;
    margin-left: 9vw;
}

#pre06{
    margin-top: 2vh;
    margin-left: 6vw;
}

.Developer{
    color: red;
    font-size: 2em;
    animation: developer 5s normal;
}

.fa-mobile-alt{
    position: absolute;
    margin-top: -15%;
    margin-left: 8%;
}

/*section 2*/

main>section:nth-child(2){
    background-color: grey;
    position: relative;
    height: 100vh;
}

main>section:nth-child(2)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: white;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(2)>img{
    position: absolute;
    left: 5vw;
    top:15vh;
    border-radius: 15px;
}

main>section:nth-child(2)>p{
    position: absolute;
    font-size: 2.1em;
    font-family: 'Merriweather', serif;
    right: 10vw;
    bottom: 30vh;
    display: inline-block;
    margin-left: 43vw;
    color: #eeeeee;
}

main>section:nth-child(2)>a{
    position: absolute;
    right: 43vw;
    bottom: 23vh;
    border: 6px solid cornflowerblue;
}

main>section:nth-child(2)>a>button{
    font-size: 1.5em;
    color:red;
    background-color: black;
}

main>section:nth-child(2)>a>button:hover{
    cursor: pointer;
    color: yellowgreen;
}
/*section 3*/

main>section:nth-child(3){
    background-color: lightgray;
    position: relative;
    height: 75vh;
}

main>section:nth-child(3)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: black;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(3)>div>h3{
    margin:0; padding:0; box-sizing:border-box;
}

main>section:nth-child(3)>div img{
    border-radius:15px ;
}

main>section:nth-child(3)>div>h3>pre {
background-color: black;
}
main>section:nth-child(3)>div{
    font-size: 1.57em;
    height: 50px;
    width: 250px;
    margin: auto;
}

.divservice1{
    top: 31vh;
    left: 8vw;
    position: absolute;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.divservice2{
    top: 31vh;
    right: 0;
    left: 0;
    position: absolute;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.divservice3{
    top: 31vh;
    right: 8.5vw;
    position: absolute;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

/*4th section*/

main>section:nth-child(4){
    background-color: grey;
    position: relative;
    height: 100vh;
}

main>section:nth-child(4)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: white;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(4) h2{
    color: gainsboro;
    margin: auto;
    left: 10vw;
    width: max-content;
    height: max-content;
    display: inline-block;
    position: absolute;
    top: 9vh;

}

main>section:nth-child(4)>section section{
    top: 5vh;
    height: 24vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 14vh;
    border-radius: 30px;
    background-color: lightgray;
    font-size: 1.5vw;
    border: 2px solid #585151;
}

main>section:nth-child(4)>section{
    position: relative;
    width: 100%;
    height: 40vh;

}


.p1{
    padding-left: 33px;
    margin-top: 1px;
}

.p2{
    padding-left: 16px;
    margin-bottom: 8px;
    margin-top: 6px;
}
.p3{
    padding-left: 59px;
    margin-top: 7px;
}
.p4{
    padding-left: 33px;
    margin-bottom: 6px;
}

.java-logo{
    width: 100px;
    padding-top: 6vh;
}

.html-logo{
    width: 78px;
    padding-top: 7vh;
}

.css-logo{
    width: 153px;
    padding-top: 6vh;
}

.mysql-logo{
    width: 115px;
    padding-top: 4vh;

}

.a1{
    position: relative;
    top: 29vh;
    left: 14vw;
    margin: auto;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 47px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.a2{
    position: relative;
    top: -18vh;
    right: -78vw;
    margin: auto;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 47px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.intellij-logo{
    width: 82px;
    padding-top: 9vh;
}

.eclipse-logo{
    width: 100px;
    padding-top: 10vh;
}

.Hibernate-logo{
    margin-top: 63px;
}

.Angular-logo{
    width: 84px;
    padding-top: 10vh;
}

.Spring-logo{
    width: 96px;
    padding-top: 10vh;
}

.p5{
    margin-top: 1px;
}

.p6{
    padding-left: 25px;
    margin-top: 6px;
}

.p7{
    padding-left: 15px;
    margin-bottom: 1px;
}

.p8{
    padding-left: 8px;
    margin-bottom: 37px;
    margin-top: 2px;
}

.p9{
    padding-left: 19px;
    margin-bottom: 39px;
    margin-top: 2px;
}

/*5th Section*/


main>section:nth-child(5){
    background-color: gainsboro;
    position: relative;
    height: 87vh;
}

main>section:nth-child(5)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: Black;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(5) div{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    bottom: -8vh;
}

.imageOne{
    border-radius:8px;
    width: 30vw;
    height: 60vh;
}

.imageOne:hover{
    box-shadow: 12px 7px 12px #917a7a;
}

.imageTwo:hover{
    box-shadow: 12px 7px 12px #917a7a;
}
.imageThree:hover{
    box-shadow: 12px 7px 12px #917a7a;
}

.imageOne[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}

.imageTwo{
    border-radius:8px ;
    width: 30vw;
    height: 60vh;

}

.imageTwo[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}

.imageThree{
    border-radius:8px ;
    width: 30vw;
    height: 60vh;
}

.imageThree[title]:hover:after{
    color: red;
    content: attr(title);
    position: absolute;
    left: 50px;
}

main>section:nth-child(5) button{
    position: relative;
    bottom: -12vh;
    background-color: #917a7a;
    height: 5vh;
    border-radius: 9px;
    left: 43vw;
    text-decoration: none;
}

main>section:nth-child(5) button a{
    text-decoration: none;
}

/*6th Section*/


main>section:nth-child(6){
    background-color: lightgray;
    position: relative;
    height: 100vh;
}

main>section:nth-child(6)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: Black;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

/*1**/

main>section:nth-child(6)>section:nth-child(2){
    position: relative;
    width: 70vw;
    height: 20vh;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    top: 8vh;
}

main>section:nth-child(6)>section:nth-child(2)>img{
    top: 0;
    bottom: 0;
    left: 5vw;
    margin: auto;
    position: absolute;
}

main>section:nth-child(6)>section:nth-child(2)>div{
    top: 2vh;
    right: 12vw;
    margin: auto;
    position: absolute;
    width: max-content;
    height: max-content;
}

main>section:nth-child(6)>section:nth-child(2)>div>pre{
    font-size: x-large;
}

/*2**/

main>section:nth-child(6)>section:nth-child(3){
    position: relative;
    width: 70vw;
    height: 20vh;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    top: 11vh;
}

main>section:nth-child(6)>section:nth-child(3)>img{
    top: 0;
    bottom: 0;
    left: 5vw;
    margin: auto;
    position: absolute;
}

main>section:nth-child(6)>section:nth-child(3)>div{
    top: 2vh;
    right: 9vw;
    margin: auto;
    position: absolute;
    width: max-content;
    height: max-content;
}

main>section:nth-child(6)>section:nth-child(3)>div>pre{
    font-size: x-large;
}

/*3**/

main>section:nth-child(6)>section:nth-child(4){
    position: relative;
    width: 70vw;
    height: 20vh;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    top: 14vh;
}

main>section:nth-child(6)>section:nth-child(4)>img{
    top: 0;
    bottom: 0;
    left: 5vw;
    margin: auto;
    position: absolute;
}

main>section:nth-child(6)>section:nth-child(4)>div{
    top: 5vh;
    right: 23vw;
    margin: auto;
    position: absolute;
    width: max-content;
    height: max-content;
}

main>section:nth-child(6)>section:nth-child(4)>div>pre{
    font-size: x-large;
}

/****/

main>section:nth-child(6)>div:nth-child(5){
    height: 15vh;
    width: max-content;
    position: absolute;
    bottom: 1vh;
    margin: auto;
    left: 10vw;
}

main>section:nth-child(6)>div:nth-child(5)>q{
    font-family: 'The Nautigal', cursive;
    font-size: 3.2vw;
}

main>section:nth-child(6)>div:nth-child(5) p{
    right: 3vw;
    bottom: -2vh;
    display: inline-block;
    position: absolute;
    font-size: 2vw;
}

/*7th Section*/

main>section:nth-child(7){
    /*background-color: grey;*/
    position: relative;
    height: 100vh;
}

.hero{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.hero>.carousel{
    width: 253px;
    margin: 84px auto 0;
    overflow: visible;
    top: -61px;
}

.carousel ul{
    position: relative;
    right: 39px;
}
.carousel img{
    width: 25vw;
    height: 75vh;
    border: 3px solid black;
}
.carousel img{
    -webkit-box-reflect: below;
    border-radius: 7%;
}

main>section:nth-child(7)>h1 {
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: white;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

/*main>section:nth-child(7) img:nth-child(2){*/
/*    position: absolute;*/
/*    top: 12vh;*/
/*}*/

/*main>section:nth-child(7) img:nth-child(3){*/
/*    position: absolute;*/
/*    bottom: 7vh;*/
/*    left: 37.1vw;*/
/*}*/

/*main>section:nth-child(7) img:nth-child(4){*/
/*    position: absolute;*/
/*    top: 12.0vh;*/
/*    left: 37.1vw;*/
/*}*/

/*main>section:nth-child(7) img:nth-child(5) {*/
/*    position: absolute;*/
/*    top: 12.0vh;*/
/*    left: 63.7vw;*/
/*}*/

/*main>section:nth-child(7) img:nth-child(6){*/
/*    position: absolute;*/
/*    top: 12.0vh;*/
/*    left: 50.5vw;*/
/*}*/

/*8th section*/
main>section:nth-child(8){
    background-color: lightgray;
    position: relative;
    height: 184vh;
}

main>section:nth-child(8)>h1{
    margin: auto;
    width: max-content;
    height: max-content;
    left: 3vw;
    display: inline-block;
    top: 4vh;
    color: black;
    position: relative;
    text-decoration:underline;
    text-decoration-color: yellow;
}

main>section:nth-child(8)>div:nth-child(2)>pre:nth-child(1){
    width: max-content;
    height: max-content;
    position: relative;
    font-family: 'IBM Plex Serif', serif;
    display: inline-block;
    margin: auto;
    top: 9vh;
    left: 1vw;
    font-size: 4vh;

}

main>section:nth-child(8)>div:nth-child(2)>pre:nth-child(2){
    width: max-content;
    height: max-content;
    color: #917a7a;
    position: relative;
    top: 7vh;
    font-family: 'IBM Plex Serif', serif;
    font-size: 3vh;
    left: 2.1vw;


}

main>section:nth-child(8)>div:nth-child(2)>pre:nth-child(3){
    width: max-content;
    height: max-content;
    color: #917a7a;
    position: relative;
    top: 4vh;
    font-family: 'IBM Plex Serif', serif;
    font-size: 4vh;
}

main>section:nth-child(8)>div:nth-child(2)>img:nth-child(4){
    position: relative;
    display: inline-block;
    left: 10vw;
    top: 0vh;
}

main>section:nth-child(8)>div:nth-child(2)>pre:nth-child(5){
    position: relative;
    display: inline-block;
    width: max-content;
    height: max-content;
    font-family: 'IBM Plex Serif', serif;
    left: 6vw;
    top: -1vh;
}

main>section:nth-child(8)>div:nth-child(2)>img:nth-child(6){
    left: 25vw;
    top: 0vh;
    position: relative;
    width: 82px;
}

main>section:nth-child(8)>div:nth-child(2)>pre:nth-child(7){
    position: relative;
    display: inline-block;
    width: max-content;
    height: max-content;
    font-family: 'IBM Plex Serif', serif;
    left: 22vw;
    top: 1vh;
}

main>section:nth-child(8)>div:nth-child(2)>img:nth-child(8) {
    left: -33vw;
    top: 20vh;
    position: relative;
    width: 77px;
}

main>section:nth-child(8)>div:nth-child(2)>p:nth-child(9){
    position: relative;
    display: inline-block;
    width: max-content;
    height: max-content;
    font-family: 'IBM Plex Serif', serif;
    left: -32.5vw;
    top: 16vh;
}

main>section:nth-child(8)>div:nth-child(2)>p:nth-child(10) {
    width: max-content;
    height: max-content;
    color: #917a7a;
    position: relative;
    top: 17vh;
    left: 6.5vw;
    font-family: 'IBM Plex Serif', serif;
    font-size: 4vh;
}

main>section:nth-child(8)>div:nth-child(2)>section:nth-child(11){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 39vw;
    position: relative;
    top: 16vh;
    left: 3vw;
}


main>section:nth-child(8) hr{
    position: relative;
    bottom: -18vh;
}


main>section:nth-child(8)>div:nth-child(4){
    display: inline-block;
    bottom: -15vh;
    position: relative;
    left: 6vw;
    font-size: 2vw;
}

main>section:nth-child(8)>form:nth-child(5){
    bottom: -13vh;
    position: relative;
    height: max-content;
}

main>section:nth-child(8)>form:nth-child(5) fieldset{
    border: none;
}

.emailname{
    letter-spacing: 1px;
    left: 5vw;
    position: relative;
    border-radius: 6px;
    width: 35vw;
    height: 5vh;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    outline: none;
    font-family: Poppins;
    border: none;
}

.emailAddress{
    left: 5vw;
    position: relative;
    border-radius: 6px;
    width: 35vw;
    height: 5vh;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    outline: none;
    font-family: Poppins;
    letter-spacing: 1px;
    border: none;

}

.Message{
    left: 5vw;
    position: relative;
    border-radius: 6px;
    width: 35vw;
    height: 30vh;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    outline: none;
    font-family: Poppins;
    letter-spacing: 1px;
    border: none;
}

.emailBtn{
    width: 6vw;
    height: 5vh;
    font-size: 14px;
    background: #4a3a3a;
    color: white;
    border-radius: 11px;
    font-family: Poppins;
    padding: 6px;
    position: relative;
    transform: translate(84%, 0);
    box-shadow: #d9d8d8 2px 5px 6px;
    border: 1px solid transparent;
}

.emailBtn:hover{
    color: darksalmon;
    cursor: pointer;
}

/*footer*/

footer{
    height: 6vh;
    background-color: black;
}



footer p{
    color: white;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 36vw;
    font-size: 1.5vw;
    top: 1vh;
}

/*animations*/

@keyframes my-name {
    0%{
        color: black;
        animation-delay: 2s ;
    }
    25%{
        color: sandybrown;
        animation-delay: 2s ;
    }
    50%{
        color: yellowgreen;
        animation-delay: 2s ;
    }
    75%{
        color: darkorange;
        animation-delay: 2s;
    }
    100%{
        color: yellow;
        animation-delay: 2s ;
    }

}

.name{
    animation:my-name 15s alternate ;
}

@keyframes developer {
    from{
        color: black;
        animation-delay: 3s;
    }to{
        color: red;
        animation-delay: 5s;
         }
}


@keyframes hire-me {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
        border: 6px solid springgreen;
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
        border-color: cornflowerblue;
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
        border-color: mediumaquamarine;
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
        border-color: grey;
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
        border-color: darkolivegreen;
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}




